
html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(229, 229, 229);
}

header ul{
    list-style: georgian;
}

header li{
    list-style:georgian;
    
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 202, 255);
}

.formatLiHeader{
    list-style: none;
    margin: 0 1% 0.2% 0;
}

.menu-opcoes{
    
}

.menu-conteudo{
    
}

.busca,.menu-conteudo{
    background-color: white;
    width: 230px;
    height: auto;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
}

.busca h2, .busca form, .menu-conteudo h2{
    margin: 10px;
    
}

.menu-conteudo li{
    margin-bottom: 1px;
    padding: 5px 10px;

}

.menu-conteudo a {
    color: darkgray;
}
.busca{
    

}
#cabecalho{
    border: 2px solid gray;
    border-left: none;
    border-right: none;
    background-color:rgb(175, 175, 175);
}

#ulHeader{
    display:flex;
    margin-left: 1%;
}

#logoSenac{
    height: 40px;
    width: auto;
    margin: 1% 0 1% 1%;
}

#destaques{

}