*{
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    margin: 0;
    padding: 0%;
}

.contatos {
    display: flex;
    align-items: center;
    margin: 0;
}

#ImagemVithor {
    width: 40vh;
    margin: 2vh;
    border-radius: 100%;

}

#conteudo {
    margin-top: 2vh;
}

#MeuNome {
    margin-bottom: 0;
}

.contato {
    margin: 0;
    margin-left: 10px;
    margin-top: 8px;
}

.link {
    color: black;
}

.link:hover {
    color: blue;
    text-decoration: underline;
}

.icone {
    width: 27px;
    margin-top: 5px;
}

#perfil {
    display: flex;
    margin: 3% 10% 0 10%;
    border: 1px solid black;
    background-color: gainsboro;
}