*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    background-color: rgb(193, 255, 234);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: row;
    justify-content:flex-start;
    justify-items: start;
    align-items: start;
}

span div{
    display: flex;
}

span{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

hr{
    border-color: black;
    border-radius: 1px;
}



.NomeCientífico{
    font-size:small;
    font-style: italic;
}

.item img{
    width:35vh;
    height: auto;
}

    .item{
        width: 35vh;
        height: 55vh;
        padding: 0.8%;
        margin: 1%;
        background-color: white;
        display: block;
        border: 10px rgb(180, 180, 180) solid;
    }

.operaria{
    background-color: lightyellow;
}

.rainha{
    background-color:rgb(252, 252, 194);
    border-color: rgb(250, 111, 56);
}

.solitaria{
    background-color: lightyellow;
    border-color: black;
}

.mel{
    background-color: rgb(214, 186, 157);
}

.discos{
    background-color: rgb(214, 186, 157);
    border-color: black;
}

.nivel{
    height: 18px;
    width: 25px;
    border: 1px black solid;
    display: flex;
}

.vermelho{
    background-color: rgb(255, 73, 73);
}

.amarelo{
    background-color: yellow;
}

.azul{
    background-color: rgb(0, 102, 255);
}

.verde{
    background-color: green;
}

.cinza{
    background-color: gray;
}
.linha-simples{
    display: flex;
    justify-items: start;
    align-items: center;
}
img.icon{
    width:auto;
    height: 16px;
    margin-left: 4px;
    margin-top: 4px;
}
