#title{
    text-align: center;
    font-size: 300%;
    background-size: 500%;
    background-color: red;
    color: white;
}

#subtitulo{
    text-align: center;
    font-size: 300%;
    background-size: 500%;
    background-color: black;
    color: white;
}