*{
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
}

.container{
    background-color: rgb(72, 72, 255);
    height: 270px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 10px solid rgb(37, 30, 255);
}

#cabecalho{
    height: 110px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.raquete{
    height: 105px;
    width:  auto;
    margin: 0.5%;
}

#raqueteInvertida{
    transform: scaleX(-1);
}

#bolinha{
    height: 23px;
    width:  auto;
    margin-top: 2vh ;
}

#rede{
    height: 105px;
    width:  auto;
    margin: 0.5%;
}

#divLeft{
    height: 100%;
    width: 50%;
    border-right: 2vh solid rgb(148, 148, 148);
}

div p{
    margin: 12px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

div ul{
    margin: 30px;
}

div li{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

div h1{
    margin: 10px;
    justify-self: center;
}

#divRight{
    height: 100%;
    width: 50%;
}

#imagens{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{
    height: 170px;
    width: auto;
}