*{
    padding: 0;
    margin: 0;
}

body, main{
    width: 100%;
    height: 100%;
    background-color: gray;
}

main{
    display: flex;
    justify-content: center;
    background-image: url("../img/backgroundPokemon.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#figPokedex{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 600px;
}

#container{
    position: relative;/*solução para deslocamento das divs*/
    padding: 1% 3%                                                                          ;
    justify-self: center;
}

img{
    height: 94%;
    width: auto;
}

#imagemPoke{
    position: absolute;
    top: 32%;
    left: 40.5%;
}

/**/
#fotoPoke{
    height: 80px;
    width: auto;
}

#form{
    position: absolute;
    top: 57%;
}

#botoes{
    position: absolute;
    top: 81.6%;
    left:16%;
    display: flex;
    justify-content: space-between;
    width: 60.3%;
}

#botoes button{
    height: 40px;
    width: 40px;
    background-color: gb(232,228,228);
}

#botoes button:hover{
    background-color: lightgray;
    border-width: 1px;
    border-radius: 3px;
}

img[src="./img/arrow.png"]{
    height: 4.8vh;
    width: auto;
}

.espelhada {
    transform: scaleX(-1);
}

.alinhamentoX{
    position: absolute;
    left: 28.5%;
}

#todas-Informacoes{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgba(127, 255, 212, 0.192);
    position: absolute;
    top: 59.5%;
    width: 159px;
}

#todas-Informacoes > div{
    width: 100%;
    padding: 2%;
    border-radius: 5px;
}

#idNomePokemon{
    background-color: rgba(40,170,254,255);
    box-shadow: 1px 1px 1px 1px rgba(7,44,69,255);
}

#idNomePokemon span{
    font-size: large;
}

#informacoes1{
    margin-top: 2.5%;
    background-color: rgba(222,222,222,255);
    box-shadow: 1px 1px 1px 1px rgba(66,60,66,255);
}

#informacoes1 span{
    font-size: large;
}

#informacoes2{
    margin-top: 2.5%;
    background-color: rgba(82,174,95,255);
    box-shadow: 1px 1px 1px 1px rgba(66,60,66,255);
}

#inputForm{
    position: absolute;
    top: 52%;
    font-size: large;
    width: 35.3%;
}

#info-Botoes{
    display: grid;
    grid-template-columns: 21px auto;
    background-color: rgba(228, 228, 228, 0.934);
    box-shadow: 1px 1px 1px 1px rgba(66,60,66,255);
    margin-top: 3%;
    padding: 1.5%;
    border-radius: 5px;
    height: min-content;
    min-width: 20%;
}

#info-Botoes img{
    height: 30px;
    width: 30px;
}

#info-Botoes button{
    padding: 1.5%;
    height: 21px;
    width: 21px;
}

#info-Botoes h4{
    height: min-content;
    padding-left: 2.5%;
}